body{
    margin: 0px auto;
    padding: 0px;
}

.ad_place{
    height: 140px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------======================NAVBAR 1==========================-------------------------------------------- */
.nav_1{
    min-height: 40px;
    background-color: #F6F7FA;
    display: flex;
    justify-content: space-between;
}

.nav_1 .sites ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.nav_1 .sites ul li{
    padding-left: 20px;
}

.nav_1 .sites ul li a{
    color: #8D94AD;
    text-decoration: none;
}

.nav_1 .sites ul li a:hover{
    color: #CA1016;
}

.nav_1 .support ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.nav_1 .support ul li{
    padding-left: 20px;
}

.nav_1 .support ul li a{
    color: #000;
    text-decoration: none;
}

.nav_1 .support ul li a:hover{
    color: #CA1016;
    cursor: default;
}

.nav_1 .help_lang ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.nav_1 .help_lang ul li{
    padding-left: 20px;
}

.nav_1 .help_lang ul li a{
    color: #8D94AD;
    text-decoration: none;
}

.nav_1 .help_lang ul li a:hover{
    color: #CA1016;
}
.nav_1 .fav_login ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.nav_1 .fav_login ul li{
    padding-left: 20px;
}

.nav_1 .fav_login ul li a{
    color: #8D94AD;
    text-decoration: none;
    font-size: 15px;
}

.nav_1 .fav_login ul li a:hover{
    color: #CA1016;
}

/* -------------------------======================NAVBAR 1==========================-------------------------------------------- */

/* -------------------------======================NAVBAR 2==========================-------------------------------------------- */
.nav_2{
    height: 60px;
    background: #CA1016;
    display: flex;
    align-items: center;
}

.navbar-default .navbar-brand a:hover{
    color: white;
}

.dropdown-menu{
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background: #fff;

}


/* -------------------------======================NAVBAR 2==========================-------------------------------------------- */

@media only screen and (max-width: 600px){
    .nav_1{
        min-height: 40px;
        background-color: #F6F7FA;
        font-size: 14px;
    }
    
    .nav_1 .sites ul{
        position: relative;
        left: -20px;
    }
    .nav_1 .support{
        display: none;
    }

    .nav_1 .help_lang{
        display: none;
    }

    .nav_1 .fav_login{
        display: block;
    }
    .nav_2 h4{
        color: white;
        font-weight: bolder;
        margin-left: -50px;
    }

    .nav_2 .pages ul{
        list-style: none;
        display: flex;
    }
    
    .nav_2 .pages ul li{
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav_2 .pages ul li a{
        color: white;
        text-decoration: none;
    }
    .nav_2 .pages ul li a:hover{
        color: #F6D0CE;
    }

    .h_brand{
        color: white;
        font-weight: bolder;
        margin-left: 0px;
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    .nav_1{
        min-height: 40px;
        background-color: #F6F7FA;
        font-size: 14px;
    }
    
    .nav_1 .sites ul{
        position: relative;
        left: -20px;
    }
    .nav_1 .support{
        display: none;
    }

    .nav_1 .help_lang{
        display: none;
    }

    .nav_1 .fav_login{
        display: block;
    }

    .nav_2 h4{
        color: white;
        font-weight: bolder;
        margin-left: -50px;
    }

    .nav_2 .pages ul{
        list-style: none;
        display: flex;
    }
    
    .nav_2 .pages ul li{
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav_2 .pages ul li a{
        color: white;
        text-decoration: none;
    }
    .nav_2 .pages ul li a:hover{
        color: #F6D0CE;
    }

    .h_brand{
        color: white;
        font-weight: bolder;
    }

    .yeni_elan{
        background: #7ED321;
        border: none;
        padding: 9px 9px 9px 9px;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
        float: right; position: relative; left: -650px; bottom: -100px; margin-top: -46px;
    }
    
    .yeni_elan:hover {
        background: #85C01F;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .nav_1{
        min-height: 40px;
        background-color: #F6F7FA;
        font-size: 14px;
    }
    
    .nav_1 .sites ul{
        position: relative;
        left: -100px;
    }
    .nav_1 .support{
        display: none;
    }

    .nav_1 .help_lang{
        display: block;
    }

    .nav_1 .fav_login{
        display: block;
    }

    .nav_2 h4{
        color: white;
        font-weight: bolder;
        margin-left: -15px;
    }

    .nav_2 .pages ul{
        list-style: none;
        display: flex;
    }
    
    .nav_2 .pages ul li{
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav_2 .pages ul li a{
        color: white;
        text-decoration: none;
    }
    .nav_2 .pages ul li a:hover{
        color: #F6D0CE;
    }

    .h_brand{
        color: white;
        font-weight: bolder;
        margin-left: -10px;
    }

    .yeni_elan{
        background: #7ED321;
        border: none;
        padding: 9px 9px 9px 9px;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
        float: right; position: relative; right: -160px; margin-top: -46px;
    }
    
    .yeni_elan:hover {
        background: #85C01F;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) and (min-width: 992px){
    .nav_1{
        min-height: 40px;
        background-color: #F6F7FA;
        font-size: 14px;
    }
    
    .nav_1 .sites ul{
        position: relative;
        left: 0px;
    }
    .nav_1 .support{
        display: none;
    }

    .nav_1 .help_lang{
        display: block;
    }

    .nav_1 .fav_login{
        display: block;
    }

    .nav_2 h4{
        color: white;
        font-weight: bolder;
        margin-left: 145px;
    }

    .nav_2 .pages ul{
        list-style: none;
        display: flex;
    }
    
    .nav_2 .pages ul li{
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav_2 .pages ul li a{
        color: white;
        text-decoration: none;
    }
    .nav_2 .pages ul li a:hover{
        color: #F6D0CE;
    }

    .h_brand{
        color: white;
        font-weight: bolder;
        margin-left: 145px;
    }
    
    .yeni_elan{
        background: #7ED321;
        border: none;
        padding: 9px 9px 9px 9px;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
        float: right; position: relative; right: -465px; margin-top: -46px;
    }
    
    .yeni_elan:hover {
        background: #85C01F;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .nav_1{
        min-height: 40px;
        background-color: #F6F7FA;
        font-size: 14px;
    }
    
    .nav_1 .sites ul{
        position: relative;
        left: 0px;
    }
    .nav_1 .support{
        display: block;
    }

    .nav_1 .help_lang{
        display: block;
    }

    .nav_1 .fav_login{
        display: block;
    }

    .nav_2 h4{
        color: white;
        font-weight: bolder;
        margin-left: 100px;
    }

    .nav_2 .pages ul{
        list-style: none;
        display: flex;
    }
    
    .nav_2 .pages ul li{
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav_2 .pages ul li a{
        color: white;
        text-decoration: none;
    }
    .nav_2 .pages ul li a:hover{
        color: #F6D0CE;
    }

    .h_brand{
        color: white;
        font-weight: bolder;
        margin-left: 95px;
    }
    .yeni_elan{
        background: #7ED321;
        border: none;
        padding: 9px 9px 9px 9px;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
        float: right; position: relative; right: -465px; margin-top: -46px;
    }
    
    .yeni_elan:hover {
        background: #85C01F;
    }
    
}